[mysqld]
user = mysql
port = 3306
datadir = /var/lib/mysql
bind-address = 0.0.0.0
skip-networking = false
socket = /var/run/mysql/mysql.sock
max_allowed_packet = 2G
innodb_log_file_size = 128MB

[client]
port = 3306
socket  = /var/run/mysql/mysql.sock
